body{
  overflow-x: hidden;
  font-family: "A Iranian Sans", serif;
  transition: 666ms;
}

//body cards style
.under-img{
  height: 550px;
}
.custom-img{
  height: 500px;
  width: 800px;
}

//view key style
.two-view{
  cursor: pointer;
}
.four-view{
  cursor: pointer;
}
@media screen and (max-width: 900px){
  .change-view{
    display: none;
  }
}


// follow me template
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: black;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: black;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


//for custom scrollbar for webkit browser

